html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

#canvas {
  cursor: none;
  height: 100vh;
  width: 100vw;
}

a,
h1 {
  font-family: 'Roboto', 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0px;
}

a {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}

a:hover,
a:focus,
#youtube-link:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

#inspiration-link {
  height: 20px;
  position: absolute;
  padding: 10px 15px;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  line-height: 20px;
  pointer-events: all;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  margin: 20px 15px;
}